.jira {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
}

.sideBar {
  position: fixed;
  height: 100vh;
  z-index: 10;
  background-color: #065fd4;
  width: 4%;
  transition: 0.2s;
  margin-left: -1rem;
}

.sideBar:hover {
  width: 15%;
}

.sideBar:hover .sideBar-top .sideBar-icon:first-child {
  padding: 0 40%;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) {
  padding: 0;
  padding-left: 5%;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .svg-inline--fa {
  margin-right: 10px;
}

.sideBar:hover .sideBar-bottom {
  left: 0%;
  width: 100%;
}

/* .sideBar:hover .sideBar-bottom .svg-inline--fa {
  margin-right: 10px;
} */
.sideBar:hover .sideBar-bottom i {
  margin-right: 10px;
}

.sideBar:hover .sideBar-bottom .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.sideBar .sideBar-icon {
  margin-bottom: 20%;
}

/* .sideBar .sideBar-icon .svg-inline--fa {
  color: white;
} */
.sideBar .sideBar-icon i {
  color: white;
}
.sideBar .sideBar-icon .title {
  opacity: 0;
}

.sideBar .sideBar-top .sideBar-icon:first-child {
  padding-top: 20%;
  font-size: 30px;
}

.sideBar .sideBar-bottom {
  position: absolute;
  bottom: 3%;
  left: 8%;
}

.sideBar .sideBar-icon {
  padding: 0 18%;
}
.sideBar .sideBar-icon span {
  padding: 0 10%;
}

.sideBar .sideBar-icon:not(:first-child) {
  padding: 0 30%;
  height: 30px;
}


.menu {
  height: 100vh;
  width: 80%;
  margin-left: 13%;
  background-color: #f4f5f7;
}

.menu .account {
  display: flex;
  padding: 5% 17%;
  margin-bottom: 5%;
}

.menu .account .avatar {
  padding-top: 13%;
  margin-right: 10px;
}

/* .avatar img {
  width: 50px;
} */
.avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 50%;
}

.menu .account .account-info {
  padding-top: 12%;
  padding-bottom: 5%;
  text-align: left;
}

.menu .account .account-info p:first-child {
  margin-bottom: 3px;
  font-weight: 500;
}

.menu .account .account-info p:last-child {
  margin-top: 0px;
  font-weight: 300;
}

.menu .control {
  padding: 0% 10%;
  text-align: left;
  margin-bottom: 8%;
  border-bottom: 2px solid #c4c5c6;
  margin-left: 7%;
  margin-right: 7%;
}

.menu .control div {
  margin-bottom: 10px;
  padding: 2% 3%;
  cursor: pointer;
}

.menu .control div span:first-child {
  margin-right: 10px;
}

.menu .control div span:first-child:focus {
  background-color: #ebecf0;
}

.menu .control div:focus {
  color: royalblue;
}

.menu .feature {
  padding: 0% 10%;
  text-align: left;
  margin-bottom: 8%;
  margin-left: 7%;
  margin-right: 7%;
}

.menu .feature div {
  margin-bottom: px;
  padding: 2% 3%;
  cursor: pointer;
}

.menu .feature div i {
  margin-right: 10px;
}

.menu .feature div span {
  font-size: 14px;
}

.logout i {
  color: black;
  display: flex;
}
.logout p
{
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}
.outbtn:hover
{
  text-decoration: none;
}